.btns {
  margin-top: 24px;
  .btn + .btn {
    margin-left: 16px;
  }
}

.btn {
  background: $color-primary;
  border: 2px solid $color-primary;
  color: #ffffff;
  padding: 16px 40px;
  border-radius: 30px;
  display: inline-block;
  &--border {
    background: none;
    color: $color-primary;
  }
}
