extends /lib/layouts/_base

block content
  .hero
    .container
      h1 Pugによる静的サイト設計
  section.section
    .container
      h2.hdg 見出し
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore incidunt necessitatibus voluptates, labore nihil fugit a quasi totam recusandae ipsam, repellat nesciunt dolores sequi exercitationem, modi cumque? Nesciunt, ex beatae?
      a.btn(href="") ボタン
  section.section
    .container
      h2.hdg.hdg--border 見出し
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore incidunt necessitatibus voluptates, labore nihil fugit a quasi totam recusandae ipsam, repellat nesciunt dolores sequi exercitationem, modi cumque? Nesciunt, ex beatae?
      a.btn.btn--border(href="") ボタン
  section.section
    .container
      h2.hdg 見出し
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore incidunt necessitatibus voluptates, labore nihil fugit a quasi totam recusandae ipsam, repellat nesciunt dolores sequi exercitationem, modi cumque? Nesciunt, ex beatae?
      a.btn(href="") ボタン
